[Desktop Entry]
Categories=GNOME;GTK;Utility;TextEditor;
Name=Parchment
Name[en]=Parchment
Keywords=write;edit;code;notepad;
Keywords[en]=write;edit;code;notepad;
Comment=Featureless Text Editor
Comment[en]=Featureless Text Editor
Type=Application
Exec=parchment %U
MimeType=text/*;
Terminal=false
Icon=ca.vlacroix.Parchment
StartupNotify=false
