[Desktop Entry]
Name=Cheveret
Name[en]=Cheveret
Comment=Featureless Text Editor
Comment[en]=Featureless Text Editor
Type=Application
Exec=cheveret
Terminal=false
Icon=ca.vlacroix.Cheveret
StartupNotify=false
