[Desktop Entry]
Name=Cheveret Nightly
Name[en]=Cheveret Nightly
Comment=Featureless Text Editor (Development Version)
Comment[en]=Featureless Text Editor (Development Version)
Type=Application
Exec=cheveret
Terminal=false
Icon=text-x-generic
StartupNotify=false
