[Desktop Entry]
Name=Cheveret Nightly
Name[en]=Cheveret Nightly
Comment=Featureless Text Editor (Development Version)
Comment[en]=Featureless Text Editor (Development Version)
Type=Application
Exec=cheveret
Terminal=false
Icon=ca.vlacroix.Cheveret.Devel
StartupNotify=false
