[Desktop Entry]
Categories=GNOME;GTK;Utility;TextEditor;
Name=Paper Nightly
Name[en]=Paper Nightly
Keywords=write;edit;code;notepad;
Keywords[en]=write;edit;code;notepad;
Comment=Featureless Text Editor (development version)
Comment[en]=Featureless Text Editor (development version)
Type=Application
Exec=paper %U
MimeType=text/plain;
Terminal=false
Icon=text-x-generic
StartupNotify=false
